@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: "Noto Serif", "Elsie";
}

.homepage {
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  color: white;
  gap: 1rem;
}

header {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-row: 1 / 2;
  justify-content: center;
  gap: 1rem;
}

.headerButtons {
  position: fixed;
  justify-self: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1rem;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

button:active {
  background: var(--color);
  color: #fff;
}

.headerText {
  font-style: italic;
  font-size: 4rem;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  justify-self: center;
  text-shadow: 3px 3px 20px brown,
    -2px 1px 30px #ff99cc;
}

.restaurantImage {
  background: url('./restaurant.jpg');
  background-size: 100% 100%;
  grid-row: 2 / 3;
  width: 85%;
  height: 25rem;
  justify-self: center;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  outline: var(--b) solid white;
}

.textHomepage {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 60%;
  height: 100%;
  align-content: center;
  justify-self: center;
}
